<html>
 <head>
  <title>Redirecting...</Redirecting></title>
  <meta http-equiv="refresh" content="0;url=https://apstone-75mnu24buq-uk.a.run.app/#/">
 </head>
 <body>
  <p>
   Redirecting. If you're not redirected within a couple of seconds,
   click here:<br />
    <a href="https://apstone-75mnu24buq-uk.a.run.app/#/">Capstone 2022</a>
  </p>
 </body>
</html>